/* Header-bg-image */
.header-bg-image{
    background:linear-gradient(rgba(0, 0, 0, 0.35)), url(../img/hero_1.jpg)center/cover;
   height: 100vh;
}
/* container */
.container{
    width: 1300px;
    margin: 0 auto ;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:40px;
}
/* logo and navbar */
.nav-area{
    display: flex;
    justify-content: space-between;
    width: 300px;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 450px;
    margin-top:5px;
}
.nav-end i{
    display: none;
}
.logo{
    font-size: 24px;font-weight: 700;font-family: "Playfair Display", sans-serif;
    color: #fff;
}
.about-tab,.dropdown-tab,.services-tab,.blog-tab{
    color: #ffffffb3;
    font-size: 14px;font-weight: 300;font-family: "Open-sans",sans-serif;
}
.dropdown ,.dropdown-two{
    position: relative;
    display: inline-block;
}
.dropdown-tab{
    display: inline-block;
}
.dropdown-tab i{
    font-size: 10px;
    padding-left: 8px;

}
.dropdown-content, .dropdown-content-one{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 20px 0;
    min-width: 210px;
    z-index: 1;
}
.dropdown-content a, .dropdown-content-one a{
display: block;
font: 500 14px arial;
color: #000;
padding: 8px 20px;
min-width: 210px;
text-transform: capitalize;
transition: .4s;
}
.dropdown-content-one{
    left: 100%;
    top: 0;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-two:hover .dropdown-content-one{
    display: block;
}
.dropdown-content a:hover{
    color: #fc8621;
}

.home-tab:hover{
    color:#fff
}
.about-tab:hover{
    color: #fff;
}
.dropdown-tab:hover{
    color: #fff;
}
.services-tab:hover{
    color: #fff;
}
.blog-tab:hover{
    color: #fff;
}
.chevron-down{
    font-size: 15px;
}
.home-tab{
    font-size: 14px;
    font-family: "Opensans",sans-serif;font-weight: 300;
    color: #fff;
}
/* nav-end */
.end-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 90px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    font: 400 12px arial;
    transition: .5s;
}
.end-tab:hover{
    background-color: #fc8621;
    color: #fff;
    border-color: #fc8621;
}
/* bg-image-text */
.bg-image-text{
    display:flex;
    flex-direction: column  ;
    justify-content: center;
    height: 100vh;
}
.bg-main-text{
    align-items: center ;
    font-size: 60px;
    font-weight: 600;
    font-family: "Playfair Display", sans-serif;
    width: 400px;
    color: #fff;
}
.bg-text-end{
    padding:40px 0 150px 0;
    display: flex;
    align-items: center;
    gap:10px;
    cursor: pointer;
    position: relative;
}
.fa-play-circle{
    padding-top:5px;
    border-color: transparent;
    color:#fff;
    font-size: 40px;
   height: 45px;
   width: 50px;
   position: absolute;
    top: 10%;
   border:1px solid #fff;
   border-radius: 50px;
}
.play-video{
    font: 400 16px arial;
    color: #fff;
    position: absolute;
    left: 5%;
    right: 10%;
    top: 20%;
}
.bg-map-text{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font: 400 12px arial;
    padding-left: 25px;
}
.fa-map-marker-alt{
    padding: 10px;  
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    font-size: 15px;
}
section{
    padding-top:112px;
}
.about-us-area{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.about-text{
    width: 450px;
}
.about-text h3,.serve-text h3,.customer-title h3,.faq-title h3,.blog-title h3{
    font-size: 18px;font-family: "Opensans",sans-serif;font-weight: 700;
    color: #fc8621;
    text-transform: uppercase;
    
}
.about-text h1,.serve-text h1,.customer-title h1,.faq-title h1,.blog-title h1{
    font-size: 46px;font-weight: 600;font-family: "Playfair Display",sans-serif;
    color: #000;
    margin: 10px 0;
}
.blog-title h1{
    margin-bottom: 40px;
}
.about-text p, .serve-text p{
    font-size: 14px;font-family: "Opensans",sans-serif;font-weight: 400;
    color: #212529;
    line-height: 20px;
    margin: 20px 0 20px 0;
}
.about-btn{
background-color: #fc8621;
padding: 15px 35px;
border-radius: 30px;
border-color: #fc8621;
border: none;
color: #fff;
cursor: pointer;
font: 400 16px arial;
}

.about-btn:hover{
    border-color: #fc9237;
    background-color: #fc9842;
}
.about-images{
    display: flex;
    gap: 20px;
    width: 600px;
}
.image1 img{
    width:350px;
    height: 350px;
}
.image2 img{
    width: 350px;
    height: 350px;
    padding-top:50px;
}
/* section2 */
.serve-area{
    display: flex;
    justify-content: space-between;
    padding-top:120px;
}
.serve-icon{
    display: flex;
    width: 120px;
    justify-content: space-between;
    font-size: 40px;
    color:rgba(128, 128, 128, 0.749);
    align-items: center;
}
.serve-text{
    width: 35%;
}
.fa-arrow-left-long{
    cursor: pointer;
    transition: .3s;
}
.fa-arrow-left-long:hover{
color: #fc8621;
}
.fa-arrow-right-long{
    cursor: pointer;
    transition: .3s;
}
.fa-arrow-right-long:hover{
    color: #fc8621;
}
/* images2 */
.serve-images{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.serve-image1 img,.serve-image2 img,.serve-image3 img{
    width: 380px;
    height: 450px;
    padding-bottom:20px;
}
.serve-image1,.serve-image2,.serve-image3{
    position: relative;
}
.price-part{
    position: absolute;
    bottom: 22px;
    right:0;
    z-index: 9;
    background-color: #fff;
    width: 100px;
    height: 85px;
    color: #fc8621;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
}
.image-text1,.image-text2,.image-text3 {
    font-size: 25px;font-weight: 700;font-family:"Playfair Display",sans-serif;
    color: #000;
}
.image-text p, .image-text p, .image-text p{
    font: 400 14px arial;font-size: 14px;font-weight: 400;font-family: "Opensans",sans-serif;
    color:#999999;
    line-height: 30px;
    padding: 10px 0;
}
/* section3 */
/* bg-color */
.bg-color{
    background-color: #f8f9fa;
}
/* customer-area */
.customer-area{
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
    width: 1100px;
}
.customer-image-text{
    width: 50% ;
}
.customer-image-text img{
    width: 90px;
    border-radius: 50%;
    margin: 20px 0 ;
}
.customer-image-text h4{
    font-size: 18px;font-weight: 18px;font-family: "Playfair Display",sans-serif;
    color: #fc8621;
}
.customer-image-text h5{
   font-size: 14px;font-family: "Opensans",sans-serif;font-weight: 300;
    color: #000;
    margin: 10px 0;
}
.quote{
 font-size: 50px; 
    display:inline  ;
}
.customer-image-text p{
    font-size: 14px;font-weight: 300;font-family: "Opensans",sans-serif;
    color: #212529;
    padding-bottom:50px;
    line-height: 20px;
}
/* faq-area */
.faq-area{
    width: 900px;
}
.questions p{
    display: inline;
   padding: 0 25px;
   font-size: 16px;font-weight: 400;font-family: "Opensans",sans-serif;
}
.questions{
    height: 300px;
    width:400px;
    line-height: 45px;
    cursor: pointer;
}
.question1,.question2,.question3,.question4 {
    font-size: 25px;
    font-family: "Opensans",sans-serif;
    font-weight: 600;
    width: 100px;
    color:  #000;
}
/* section4 */
/* blog-title */

/* blog-image-text */
.blog-image-text{
    display: flex;
    justify-content: space-between;
    width: 1250px;
}
.image-text1 img,.image-text2 img,.image-text3 img,.image-text4 img{
    width: 300px;
}
/* under-text */
.under-text{
    margin:25px 30px;
    width: 250px;
    height: 30px;
}
.under-text h5{
    font-weight: 400; font-size: 12px;font-family: "Open Sans",sans-serif;
    color: #212529;
}
.under-text a{
    font-size: 16px;font-weight: 700;font-family: "Playfair Display", sans-serif;
    color:#000;
    transition: .5s;
    display: flex;
    align-items: center;
}
.under-text a:hover{
    color: #fc8621;
}
.under-text p{
    font-size: 14px;font-weight: 400;font-family: "Open Sans",sans-serif;
    color: #212529; 
    display: flex;
}
.read-icon span, .read-icon i{
    color: #fc8621;
    font-size: 12px;
}
.read-icon span{
    font-size: 14px;font-weight: 400;font-family: "Open Sans",sans-serif;
}
.read-icon span:hover,.read-icon i:hover{
    color: #ca6b1a;
}
.main-part{
    display: block;
    margin: 5px 0 15px 0;
}
.main{
    margin-bottom:10px;
}
/* bg-color2 */
.bg-color2{
    background-color: #fc8621;
}
.start{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    margin: 50px 0 0 0   ;
}
.start h3{
    font-size: 28px;font-weight: 400;font-family: "Playfair Display", sans-serif;
    color: #fff;
}
.btn-part{
    padding: 15px 30px;
    border: 1px solid;
    border-radius: 30px;
    color: #fff;
    border-color: #fff;
    font-size: 16px;font-family: "Open Sans",sans-serif;font-weight: 400;
    transition: .4s;
}
.btn-part:hover{
    color: #fc8621;
    background-color: #fff;
}
/* footer */
.bg-color3{
    background-color:#efefef;
}
.footer-cite{
    padding-top:70px;
}
/* foot-link1 */
.foot-link1{
    width: 360px;
}
.foot-link1 h4, .foot-link2 h4,.main-link1 h4,.main-link2 h4, .main-link3 h4{
    font: 700 16px arial;
    color: #000;
    display: inline;
}
.text-primary{
    color: #fc8621;
    font-size: 16px;
}
.foot-link1 p{
    font: 400 14px arial;
    color:#888;
    padding: 30px 0;
    line-height: 22px;
}
/* foot-link2 */
.main-foot-links a{
    margin:0 0;
    display: flex;
    font-size: 14px;
    width: 200px;
    justify-content: space-between;
    padding: 20px 0;
}
.fa-instagram,.fa-twitter,.fa-facebook-f,.fa-linkedin-in,.fa-pinterest-p,.fa-dribbble{
    border: 1px solid;
    border-radius: 50%;
    background-color: #777;
    color: #fff;
    padding: 6px;
    transition: .5s;
}
.fa-instagram:hover,.fa-twitter:hover,.fa-facebook-f:hover,.fa-linkedin-in:hover,.fa-pinterest-p:hover,.fa-dribbble:hover{
    background-color: #fc8621;
    color: #fff;
}
.footer-cite{
    display: flex;
    width: 1100px;
    justify-content: space-between;
}
.main-link1 ul, .main-link2 ul, .main-link3 ul{
    padding-top:20px;
    line-height: 30px;
    color:#777
}
.main-foot-links{
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 25px 0;
}
.social-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #777;
    border-radius: 50px;
    transition: .4s;
    cursor: pointer;
}
.tabs{
    color: #777;
}
.footer-end{
    padding :60px 0 70px 0;
    text-align: center;
    color: #888;
}
.fa-heart{
    color: #dc3545;
}
.colorlib{
    color: #fc8621;
}

@media(max-width:1200px){
    .container{
        width: 90%;
    }
    /* header */
    .header-bg-image{
        height: 100vh;
    }
    .bg-main-text h1{
        font-size: 40px;
    }
    .bg-text-end{
        position: relative;
    }
    .bg-text-end p{
        position: absolute;
        left: 60px;
        right: 20px;
    }
    /* about-us */
    .about-us-area{
        flex-direction: column;
        max-width: 1200px;
        width: 100%;
    }
    .about-text{
        width: 650px;
    }
    .about-text h1,.serve-text h1,.customer-title h1,.blog-title h1,.customer-title h1,.faq-title h1{
    font-size: 30px;font-weight: 600;font-family: "Playfair Display",sans-serif;
    }
    .image1{
        width: 600px;
    }
    .image1 img{
        width: 100%;
        height: 350px;
        padding-top: 50px;
    }
    .image2{
        width: 600px;
    }
    .image2 img{
        width: 100%;
        height: 350px;
}
/* serve-area */
.serve-area{
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.serve-text{
    width: 100%;
}
.serve-images{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.serve-image-text3{
    display: none;
}
.serve-icon{
    padding: 20px 0;
}
/* customer-area */
.customer-area{
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.customer-image-text p{
    width: 100%;
}
.faq-area{
    width: 100%;
}
.questions{
    width: 100%;
}
/* blog-area */
.blog-image-text{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    justify-content: space-evenly;
    padding: 30px 0;
}
.image-text1,.image-text2,.image-text3,.image-text4{
    width: 40%;
}
.image-text1 img,.image-text2 img,.image-text3 img,.image-text4 img{
    width:100%
}
.under-text{
    width: 70%;
    padding-bottom: 80px;
}
/* start-area */
.start{
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
/* footer */
.footer-cite{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    gap: 20px;
}
}
@media(max-width:700px){
    .container{
        width: 85%;
        margin: auto
    }
    /* header */
    .header-bg-image{
        width: 100%;
        height: 100vh;
    }
    nav ul{
        display: none;
    }
    .nav-area{
        display: flex;
        justify-content: space-between;
    }
    .nav-end a{
        display:none;
    }
    .nav-end i{
        display: block;
        color: #fff;
    }
    .bg-main-text{
        width: 100%;
    }
    .bg-main-text h1{
        font-size: 40px;
    }
    .bg-text-end{
        position: relative;
        display: flex;
        width: 95%;
    }
    .bg-text-end a{
        position: absolute;
        top: 10%;
    }
    .bg-text-end p{
        position: absolute;
        left: 60px;
        right: 20px;
    }
    /* about-us */
    .about-us-area{
        flex-direction: column;
        max-width: 700px;
        width: 100%;
    }
    .about-text{
        width: 100%;
    }
    .about-images{
        display: flex;
        align-items: center;
        width: 100%;
    }
    .image1 img{
        width: 100%;
        height: 280px;
    }
    .image2 img{
        width: 100%;
        height: 280px;
        padding-top: 50px;
    }
    /* serve-area */
    .serve-image-text2{
        display: none;
    }
    .customer-image-text{
        width: 100%;
    }
    /* blog-area */
    .under-text{
        padding-bottom: 200px;
        margin-left: 15px;
    }
    .read-icon{
        display: flex;
    }
}